$breakpoint-mobile-extra-small: 320px;
$breakpoint-medium-small-mobile: 380px;
$breakpoint-mobile-small: 400px;
$breakpoint-mobile-medium: 450px;

$breakpoint-mobile: 769px;
$breakpoint-mobile-max: 770px;

$breakpoint-mid-mobile: 800px;

$breakpoint-tablet-small: 1023px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1025px;

$breakpoint-large-laptops: 1200px;

$breakpoint-large: 1366px;

$breakpoint-specail-header: 1500px;

$breakpoint-medium-large: 1700px;

$breakpoint-x-large: 1920px;
